DEBUG=True
SECRET_KEY="django-insecure-"
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=locations_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@locationsapp.local
FRONTEND_RESET_PASSWORD_URL=http://localhost:3000/reset-password